{% extends "dashboard/template.html" %}

{% block app_header %}  
    Estados de pedidos
{% endblock %}

{% block app_content %} 
<a class="button_custom" href="{% url 'configuration:order-state-add' %}"
  >Crear nuevo estado</a>
{% for order_state in orderstate_list %}
<!-- Post preview-->
<div class="post-preview">
    <a href="{% url 'configuration:order-state-detail' order_state.id %}">
        <h2 class="post-title"> Nombre:  {{ order_state.name }}</h2>
        
    </a>
   
</div>
<!-- Divider-->
<hr class="my-4" />
{% endfor %}
{% endblock %}